body {
  background-color: rgb(255,131,0)
}

.channel-orange {
  color: white;
  font-size: 180px;
  font-size: 4vw;
}

.center {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -75%);
  }
